* {
    font-family: 'Anek Telugu', sans-serif;
    color: black;
}

.container {
    width: 50%;
    margin: 20px auto 0px auto;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    background-color: #19A7B3;
    border: 1px solid black;
    border-radius: 5px;
}

h2, .input-group, .rodape {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox {
    font-size: larger;
}


h2 {
    font-size: xx-large;
}

input, em {
    font-size: large;
    border-radius: 5px;
}

input {
    border: 1px solid black;
    
}

ul li {
    list-style-type: none;
}
